*.o
*.lo
*Makefile
*Makefile.in
*config.h
*config.h.in
*config.sub
*config.status
*config.log
*config.guess
*.la
*stamp-h1
*phoenix.pc
*~
*.cache
*.m4
*configure
depcomp
install-sh
libtool
ltmain.sh
missing
doc
src/Phoenix/.deps
src/Phoenix/.libs
src/Phoenix/AI/.deps/
src/Phoenix/AI/.libs/
src/Phoenix/Audio/.deps/
src/Phoenix/Audio/.libs/
src/Phoenix/Core/.deps/
src/Phoenix/Core/.libs/
src/Phoenix/Graphics/.deps/
src/Phoenix/Graphics/.libs/
src/Phoenix/Math/.deps/
src/Phoenix/Math/.libs/
src/Phoenix/Scene/.deps/
src/Phoenix/Scene/.libs/
src/Phoenix/Spatial/.deps/
src/Phoenix/Spatial/.libs/
src/Phoenix/Volume/.deps/
src/Phoenix/Volume/.libs/

