*.project
*.cproject
*.log
*.so
*.a
*.o
*.lo
*Makefile
*Makefile.in
*config.h
*config.h.in
*config.sub
*config.status
*config.log
*config.guess
*.la
*stamp-h1
*phoenix.pc
*~
*.cache
*.m4
*configure
depcomp
install-sh
libtool
ltmain.sh
missing
doc
src/Moose/.deps
src/Moose/.libs
src/Moose/AI/.deps/
src/Moose/AI/.libs/
src/Moose/Audio/.deps/
src/Moose/Audio/.libs/
src/Moose/Core/.deps/
src/Moose/Core/.libs/
src/Moose/Graphics/.deps/
src/Moose/Graphics/.libs/
src/Moose/Math/.deps/
src/Moose/Math/.libs/
src/Moose/Scene/.deps/
src/Moose/Scene/.libs/
src/Moose/Spatial/.deps/
src/Moose/Spatial/.libs/
src/Moose/Volume/.deps/
src/Moose/Volume/.libs/

