*.o
*.lo
*Makefile
*Makefile.in
*config.h
*config.h.in
*config.sub
*config.status
*config.log
*config.guess
*.la
*stamp-h1
*phoenix.pc
*~
*.cache
*.m4
*configure
depcomp
install-sh
libtool
ltmain.sh
missing
doc
src/Phoenix/.deps
src/Phoenix/.libs
